<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.StatMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Stat">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="stat_id" jdbcType="INTEGER" property="statId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="scene" jdbcType="VARCHAR" property="scene" />
    <result column="pass" jdbcType="BIT" property="pass" />
  </resultMap>
</mapper>